<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Ticket Booking</title>
</head>
<body>
    <h1>Booking List</h1>
    <table>
        <thead>
            <tr>
                <th>Movie</th>
                <th>Customer Name</th>
                <th>Booking Time</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="booking : ${bookings}">
            	<td th:text="${booking.booking_id}"></td>
            	<td th:text="${booking.booking_date}"></td>
            	<td th:text="${booking.payment_method}"></td>
                <td th:text="${booking.movie.title}"></td>
                <td th:text="${booking.bookingTime}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
