<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>
<body>
<!-- nav bar start -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">P_V_R Cinema</a>
		<button class="navbar-toggler" type="button" href="movie-details"
			data-toggle="collapse" data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				
				<a class="nav-link active" th:href="@{/}">Admin login</a>
                <a class="nav-link active" th:href="@{/load_book_form}">Book Show</a>
			</div>
		</div>
	</nav>
	<!-- nav bar end -->
	
	<!-- Table Start -->
<div class="container" p-5>
<div class="row">
<div class="col-md-12 offset-md-0">
<div class="card">
<div th:if="${session.message}">
<!-- <h5 class="text-center text-success"th:text="${session.message}"></h5> -->
<h4 class="text-center text-primary">Booking History</h4>

</div>
<div class="card-header">
<div class="card-body">
<table class="table text-center">
  <thead>
    <tr>
      <th scope="col" >Booking Id</th>
      <th scope="col" >Show Id</th>
      <th scope="col">Movie Name</th>
      <th scope="col">Booking Date</th>
      <th scope="col">Theatre Name</th>
      <th scope="col">Theatre Location</th>
       <th scope="col">Total Amount</th>
        <th scope="col">Payment Method</th>
        <th>Action</th>
       <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="m : ${all_booking}">
      <th scope="row">[[${m.booking_id}]]</th>
      <td>[[${m.show_id}]]</td>
      <td>[[${m.moviename}]]</td>
      <td>[[${m.booking_date}]]</td>
      <td>[[${m.theatreName}]]</td>
      <td>[[${m.theatreLocation}]]</td>
      <td>[[${m.total_amount}]]</td>
       <td>[[${m.payment_method}]]</td>
     
     <td>
     <a th:href="@{'/edit_book_form/' + ${m.booking_id}  }" class="btn btn-primary">Edit Booking</a>
      
     <td><a th:href="@{'/deletebook/' + ${m.booking_id}  }" class="btn btn-primary">Cancel Booking</a></td>
    
    </tr>
  </tbody>
</table>
</div>

</div>

</div>
</div>
</div>
</div>
<!-- Table End -->
	
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>
</html>