<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>
<head>
<meta charset="ISO-8859-1">
<title>Get Movies</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">P_V_R Cinema</a>
 
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    
      <a class="nav-link active" th:href="@{/movie-details}">Details</a>
     <!--  <a class="nav-link active" th:href="@{/movies/{movie_id}/edit}">Movies</a> -->

      
    </div>
  </div>
</nav>
<div class="container p-5">
<h4 class="text-center text-primary">Add New Movies</h4>
<div class="card-body">

   <form th:action="@{/save_movie}" method="post">
  <div class="mb-2">
    <label class="form-label">Movie Title</label>
    <input type="text" class="form-control" name="movie_title">
  </div>
   <div class="mb-2">
    <label class="form-label">Genre</label>
    <input type="text" class="form-control" name="genre">
  </div>
   <div class="mb-2">
    <label class="form-label">Director</label>
    <input type="text" class="form-control" name="director">
  </div>
   <div class="mb-2">
    <label class="form-label">Duration</label>
    <input type="time" class="form-control" name="duration">
  </div>
   <div class="mb-2">
    <label class="form-label">Ratings</label>
    <input type="number" class="form-control" name="rating">
  </div>
  <button type="submit" class="btn btn-primary" href="movie-details">Save</button>
</form>
</div>
</div>
    
   

</body>
</html>